In [2]:
import plotly
from plotly.offline import iplot,plot,init_notebook_mode,download_plotlyjs
import pandas as pd
import collections
import plotly.graph_objs as go
from bubbly.bubbly import bubbleplot

In [20]:
#jupyter note book setup
init_notebook_mode(connected=True)

In [3]:
#pio.write_json(fig,'scatter.plotly')
#y = pio.read_json('scatter-edit.plotly')
#iplot(y)

In [4]:
movie_info = pd.read_csv('rt.movie_info.tsv',error_bad_lines=False,sep='\t')

In [5]:
movie_info.head(10)

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN
5,8,The year is 1942. As the Allies unite overseas...,PG,Drama|Kids and Family,Jay Russell,Gail Gilchriest,"Mar 3, 2000","Jul 11, 2000",NaN,NaN,95 minutes,Warner Bros. Pictures
6,10,Some cast and crew from NBC's highly acclaimed...,PG-13,Comedy,Jake Kasdan,Mike White,"Jan 11, 2002","Jun 18, 2002",$,"41,032,915",82 minutes,Paramount Pictures
7,13,"Stewart Kane, an Irishman living in the Austra...",R,Drama,Ray Lawrence,Raymond Carver|Beatrix Christian,"Apr 27, 2006","Oct 2, 2007",$,"224,114",123 minutes,Sony Pictures Classics
8,14,"""Love Ranch"" is a bittersweet love story that ...",R,Drama,Taylor Hackford,Mark Jacobson,"Jun 30, 2010","Nov 9, 2010",$,"134,904",117 minutes,NaN
9,15,When a diamond expedition in the Congo is lost...,PG-13,Action and Adventure|Mystery and Suspense|Scie...,Frank Marshall,John Patrick Shanley,"Jun 9, 1995","Jul 27, 1999",NaN,NaN,108 minutes,NaN

In [6]:
# Getting first 200 movies 
first_200 = []
for i in movie_info.genre[:202].dropna():
    first_200.append(i)   
first_200

['Action and Adventure|Classics|Drama',
 'Drama|Science Fiction and Fantasy',
 'Drama|Musical and Performing Arts',
 'Drama|Mystery and Suspense',
 'Drama|Romance',
 'Drama|Kids and Family',
 'Comedy',
 'Drama',
 'Drama',
 'Action and Adventure|Mystery and Suspense|Science Fiction and Fantasy',
 'Documentary',
 'Documentary|Special Interest',
 'Classics|Comedy|Drama',
 'Comedy',
 'Comedy|Drama|Mystery and Suspense',
 'Drama',
 'Action and Adventure|Comedy|Drama',
 'Action and Adventure|Drama|Science Fiction and Fantasy',
 'Art House and International|Comedy|Drama|Musical and Performing Arts',
 'Musical and Performing Arts',
 'Classics|Comedy|Musical and Performing Arts|Romance',
 'Action and Adventure|Drama|Science Fiction and Fantasy',
 'Action and Adventure|Drama|Mystery and Suspense',
 'Action and Adventure|Mystery and Suspense',
 'Drama',
 'Art House and International|Classics|Horror|Mystery and Suspense',
 'Horror',
 'Drama',
 'Drama',
 'Action and Adventure|Classics|Drama|Mystery and Suspense',
 'Classics|Comedy|Musical and Performing Arts',
 'Comedy',
 'Comedy|Kids and Family',
 'Comedy|Musical and Performing Arts',
 'Action and Adventure|Drama|Western',
 'Action and Adventure|Comedy|Mystery and Suspense',
 'Action and Adventure|Drama',
 'Mystery and Suspense',
 'Comedy|Drama|Romance',
 'Drama|Romance',
 'Comedy|Drama',
 'Action and Adventure|Science Fiction and Fantasy',
 'Drama',
 'Comedy',
 'Comedy|Romance',
 'Art House and International|Drama',
 'Horror',
 'Action and Adventure|Drama|Horror|Mystery and Suspense',
 'Action and Adventure|Drama|Mystery and Suspense',
 'Comedy',
 'Comedy|Kids and Family|Romance',
 'Mystery and Suspense',
 'Horror',
 'Classics|Drama',
 'Comedy',
 'Action and Adventure',
 'Comedy',
 'Action and Adventure|Classics|Drama',
 'Comedy|Drama',
 'Action and Adventure|Mystery and Suspense',
 'Comedy|Drama',
 'Action and Adventure|Drama|Mystery and Suspense',
 'Action and Adventure|Art House and International|Drama',
 'Comedy|Mystery and Suspense|Science Fiction and Fantasy|Romance',
 'Comedy|Drama|Kids and Family|Romance',
 'Drama',
 'Drama',
 'Drama|Mystery and Suspense',
 'Art House and International|Drama|Musical and Performing Arts',
 'Comedy|Romance',
 'Comedy|Musical and Performing Arts',
 'Drama|Musical and Performing Arts|Romance',
 'Art House and International|Classics|Horror',
 'Classics|Comedy|Drama|Romance',
 'Art House and International|Drama|Mystery and Suspense|Television',
 'Drama|Sports and Fitness',
 'Comedy|Drama',
 'Comedy|Drama',
 'Comedy|Romance',
 'Comedy|Drama',
 'Comedy|Drama|Television',
 'Drama|Mystery and Suspense',
 'Action and Adventure|Mystery and Suspense',
 'Animation|Kids and Family|Special Interest',
 'Comedy',
 'Comedy|Drama|Kids and Family',
 'Comedy|Drama',
 'Classics|Comedy|Drama|Kids and Family|Science Fiction and Fantasy',
 'Drama|Mystery and Suspense',
 'Animation|Comedy|Kids and Family|Science Fiction and Fantasy',
 'Art House and International|Comedy|Drama',
 'Comedy|Science Fiction and Fantasy',
 'Action and Adventure|Drama|Mystery and Suspense',
 'Comedy|Romance',
 'Comedy|Romance',
 'Classics|Comedy|Special Interest',
 'Action and Adventure|Science Fiction and Fantasy',
 'Action and Adventure|Art House and International|Comedy',
 'Drama|Horror|Mystery and Suspense',
 'Art House and International',
 'Art House and International|Comedy|Drama',
 'Action and Adventure|Comedy',
 'Action and Adventure|Animation|Drama|Science Fiction and Fantasy|Special Interest',
 'Drama|Horror|Mystery and Suspense',
 'Action and Adventure|Animation|Art House and International|Drama|Science Fiction and Fantasy',
 'Horror|Mystery and Suspense',
 'Art House and International|Drama',
 'Drama|Romance',
 'Drama',
 'Comedy|Musical and Performing Arts',
 'Classics|Comedy|Romance',
 'Comedy',
 'Action and Adventure|Art House and International|Drama|Mystery and Suspense',
 'Comedy',
 'Action and Adventure|Science Fiction and Fantasy',
 'Action and Adventure|Art House and International|Comedy',
 'Classics|Drama|Mystery and Suspense|Science Fiction and Fantasy|Romance',
 'Action and Adventure|Drama|Horror|Mystery and Suspense',
 'Comedy|Romance',
 'Comedy|Kids and Family',
 'Comedy|Drama',
 'Classics|Western|Romance',
 'Drama|Sports and Fitness',
 'Comedy',
 'Action and Adventure|Drama',
 'Art House and International|Drama|Mystery and Suspense',
 'Comedy|Kids and Family|Science Fiction and Fantasy',
 'Drama|Television',
 'Drama',
 'Horror|Mystery and Suspense',
 'Classics|Drama|Faith and Spirituality',
 'Drama',
 'Classics|Comedy',
 'Comedy|Romance',
 'Art House and International|Horror',
 'Drama|Mystery and Suspense',
 'Drama|Romance',
 'Action and Adventure|Comedy|Kids and Family',
 'Classics|Drama|Musical and Performing Arts',
 'Action and Adventure|Drama|Mystery and Suspense',
 'Action and Adventure|Comedy|Drama|Musical and Performing Arts|Romance',
 'Action and Adventure|Kids and Family|Science Fiction and Fantasy',
 'Comedy|Drama',
 'Drama|Horror|Mystery and Suspense|Television',
 'Drama',
 'Art House and International|Comedy|Drama|Romance',
 'Art House and International|Drama',
 'Classics|Comedy|Drama|Kids and Family',
 'Action and Adventure|Drama|Mystery and Suspense',
 'Comedy',
 'Action and Adventure|Art House and International|Drama',
 'Drama',
 'Classics|Comedy|Drama|Musical and Performing Arts',
 'Drama|Mystery and Suspense',
 'Action and Adventure|Art House and International|Comedy',
 'Art House and International|Classics|Horror|Science Fiction and Fantasy',
 'Horror|Science Fiction and Fantasy',
 'Drama|Romance',
 'Drama|Musical and Performing Arts',
 'Comedy',
 'Classics|Drama|Musical and Performing Arts',
 'Drama|Mystery and Suspense',
 'Classics|Comedy',
 'Drama|Horror|Mystery and Suspense|Romance',
 'Action and Adventure|Art House and International|Classics|Drama',
 'Classics|Drama',
 'Action and Adventure|Classics|Comedy|Musical and Performing Arts|Romance',
 'Documentary|Musical and Performing Arts',
 'Classics|Drama',
 'Drama|Television',
 'Action and Adventure|Horror',
 'Comedy|Drama|Musical and Performing Arts',
 'Comedy',
 'Action and Adventure|Drama|Science Fiction and Fantasy',
 'Comedy|Horror',
 'Action and Adventure|Drama',
 'Action and Adventure|Classics|Drama',
 'Classics|Western',
 'Action and Adventure|Drama|Science Fiction and Fantasy|Television',
 'Art House and International|Comedy|Drama|Musical and Performing Arts',
 'Comedy|Horror',
 'Classics|Comedy|Musical and Performing Arts|Romance',
 'Drama|Mystery and Suspense',
 'Action and Adventure|Art House and International|Comedy',
 'Art House and International|Drama|Romance',
 'Drama|Mystery and Suspense',
 'Action and Adventure|Drama',
 'Art House and International|Drama|Horror|Mystery and Suspense|Science Fiction and Fantasy',
 'Drama|Romance',
 'Horror|Mystery and Suspense',
 'Classics|Drama|Mystery and Suspense|Science Fiction and Fantasy',
 'Horror',
 'Horror|Mystery and Suspense',
 'Art House and International|Drama',
 'Drama|Horror|Mystery and Suspense',
 'Classics|Comedy|Drama|Musical and Performing Arts',
 'Horror',
 'Drama|Mystery and Suspense',
 'Special Interest|Sports and Fitness',
 'Comedy']

In [7]:
# putting movies into groups
grouped_200 = []
for i in first_200:
    grouped_200.append(i.split('|',1)[0])
grouped_200=collections.Counter(grouped_200)
grouped_200

Counter({'Action and Adventure': 47,
         'Drama': 44,
         'Comedy': 48,
         'Documentary': 3,
         'Classics': 23,
         'Art House and International': 19,
         'Musical and Performing Arts': 1,
         'Horror': 10,
         'Mystery and Suspense': 2,
         'Animation': 2,
         'Special Interest': 1})

In [8]:
# Getting the nmeas of the first 200 movies in the Drama genre
movie_buddget = pd.read_csv('tn.movie_budgets.csv')
name_movies = []
for x,y in enumerate(first_200):
    if y[0]=='D': name_movies.append(movie_buddget.movie[x])
name_movies

['Pirates of the Caribbean: On Stranger Tides',
 'Dark Phoenix',
 'Avengers: Age of Ultron',
 'Star Wars Ep. VIII: The Last Jedi',
 'Star Wars Ep. VII: The Force Awakens',
 'Pirates of the Caribbean: At Worldâ\x80\x99s End',
 'Justice League',
 'The Dark Knight Rises',
 'Solo: A Star Wars Story',
 'Spider-Man 3',
 'Pirates of the Caribbean: Dead Men Tell No Tales',
 'Pirates of the Caribbean: Dead Manâ\x80\x99s Chest',
 'Man of Steel',
 'King Kong',
 'Titanic',
 'Jack the Giant Slayer',
 'Furious 7',
 'Star Trek Into Darkness',
 'Pacific Rim',
 'Indiana Jones and the Kingdom of the Crystal Skull',
 'Thor: Ragnarok',
 'Hugo',
 'Spider-Man: Homecoming',
 'Monsters vs. Aliens',
 'The Mummy: Tomb of the Dragon Emperor',
 'Evan Almighty',
 'Tomorrowland',
 'Doctor Strange',
 'Big Hero 6',
 'Interstellar',
 'Aquaman',
 'Shrek the Third',
 "The Sorcerer's Apprentice",
 'Poseidon',
 'War for the Planet of the Apes',
 'Transformers',
 'Harry Potter and the Order of the Phoenix',
 'Harry Potter and the Goblet of Fire',
 'Moana',
 'Charlie and the Chocolate Factory',
 'Mission: Impossibleâ\x80\x94Rogue Nation',
 'Thor',
 'The Last Airbender',
 'Bolt',
 'Dark Shadows',
 'Moonfall',
 'Mission: Impossibleâ\x80\x94Ghost Protocol']

In [9]:
# Getting product budget of the first 200 movies in Drama genre
product_budget = []
for x,y in enumerate(first_200):
    if y[0]=='D': product_budget.append(movie_buddget.production_budget[x])
product_budget

['$410,600,000',
 '$350,000,000',
 '$330,600,000',
 '$317,000,000',
 '$306,000,000',
 '$300,000,000',
 '$300,000,000',
 '$275,000,000',
 '$275,000,000',
 '$258,000,000',
 '$230,000,000',
 '$225,000,000',
 '$225,000,000',
 '$207,000,000',
 '$200,000,000',
 '$195,000,000',
 '$190,000,000',
 '$190,000,000',
 '$190,000,000',
 '$185,000,000',
 '$180,000,000',
 '$180,000,000',
 '$175,000,000',
 '$175,000,000',
 '$175,000,000',
 '$175,000,000',
 '$170,000,000',
 '$165,000,000',
 '$165,000,000',
 '$165,000,000',
 '$160,000,000',
 '$160,000,000',
 '$160,000,000',
 '$160,000,000',
 '$152,000,000',
 '$151,000,000',
 '$150,000,000',
 '$150,000,000',
 '$150,000,000',
 '$150,000,000',
 '$150,000,000',
 '$150,000,000',
 '$150,000,000',
 '$150,000,000',
 '$150,000,000',
 '$150,000,000',
 '$145,000,000']

In [10]:
# Getting ratings of the first 200 movies in Drama genre
ratings = pd.read_csv('title.ratings.csv')
rating = []
for x,y in enumerate(first_200):
    if y[0]=='D': rating.append(ratings.averagerating[x])
rating

[8.9,
 6.4,
 4.2,
 6.5,
 6.2,
 6.4,
 7.2,
 5.1,
 5.8,
 5.8,
 4.0,
 5.8,
 5.6,
 6.7,
 7.8,
 6.1,
 7.0,
 3.8,
 5.5,
 7.3,
 3.2,
 7.3,
 4.4,
 7.3,
 7.8,
 7.0,
 5.1,
 4.7,
 5.6,
 7.9,
 5.6,
 7.4,
 5.9,
 5.8,
 7.3,
 4.7,
 5.8,
 8.1,
 5.4,
 7.1,
 5.4,
 7.2,
 7.4,
 7.0,
 5.7,
 8.3,
 7.5]

In [12]:
# Getting system ratings of the first 200 movies in Drama genre
system_rating = []
for x,y in enumerate(first_200):
    if y[0]=='D': system_rating.append(movie_info.rating[x])
system_rating

['R',
 'R',
 'R',
 'NR',
 'PG',
 'R',
 'R',
 nan,
 'NR',
 'R',
 'PG-13',
 'R',
 'R',
 'PG',
 'NR',
 'G',
 'NR',
 'NR',
 'NR',
 'R',
 'R',
 'PG',
 'NR',
 'R',
 'NR',
 'PG-13',
 'NR',
 'PG',
 'NR',
 nan,
 'NR',
 'NR',
 'G',
 'R',
 'PG-13',
 'NR',
 'NR',
 'R',
 'PG-13',
 'NR',
 'PG',
 'NR',
 'PG',
 'PG-13',
 'R',
 'R',
 'NR']

In [13]:
# Getting domestic gross of the first 200 movies in Drama genre
domestic_gross = []
for x,y in enumerate(first_200):
    if y[0]=='D': domestic_gross.append(movie_buddget.domestic_gross[x])
domestic_gross

['$241,063,875',
 '$42,762,350',
 '$459,005,868',
 '$620,181,382',
 '$936,662,225',
 '$309,420,425',
 '$229,024,295',
 '$448,139,099',
 '$213,767,512',
 '$336,530,303',
 '$172,558,876',
 '$423,315,812',
 '$291,045,518',
 '$218,080,025',
 '$659,363,944',
 '$65,187,603',
 '$353,007,020',
 '$228,778,661',
 '$101,802,906',
 '$317,101,119',
 '$315,058,289',
 '$73,864,507',
 '$334,201,140',
 '$198,351,526',
 '$102,491,776',
 '$100,289,690',
 '$93,436,322',
 '$232,641,920',
 '$222,527,828',
 '$188,017,894',
 '$335,061,807',
 '$322,719,944',
 '$63,150,991',
 '$60,674,817',
 '$146,880,162',
 '$319,246,193',
 '$292,137,260',
 '$290,201,752',
 '$248,757,044',
 '$206,459,076',
 '$195,042,377',
 '$181,030,624',
 '$131,772,187',
 '$114,053,579',
 '$79,727,149',
 '$0',
 '$209,397,903']

In [14]:
# Getting worldwide gross of the first 200 movies in Drama genre
worldwide_gross = []
for x,y in enumerate(first_200):
    if y[0]=='D': worldwide_gross.append(movie_buddget.worldwide_gross[x])
worldwide_gross

['$1,045,663,875',
 '$149,762,350',
 '$1,403,013,963',
 '$1,316,721,747',
 '$2,053,311,220',
 '$963,420,425',
 '$655,945,209',
 '$1,084,439,099',
 '$393,151,347',
 '$894,860,230',
 '$788,241,137',
 '$1,066,215,812',
 '$667,999,518',
 '$550,517,357',
 '$2,208,208,395',
 '$197,687,603',
 '$1,518,722,794',
 '$467,381,584',
 '$411,002,906',
 '$786,635,413',
 '$846,980,024',
 '$180,047,784',
 '$880,166,350',
 '$381,687,380',
 '$405,760,225',
 '$174,131,329',
 '$206,627,518',
 '$676,404,566',
 '$652,127,828',
 '$666,379,375',
 '$1,146,894,640',
 '$807,330,936',
 '$217,986,320',
 '$181,674,817',
 '$489,592,267',
 '$708,272,592',
 '$943,076,457',
 '$897,099,794',
 '$637,517,365',
 '$475,825,484',
 '$688,858,992',
 '$449,326,618',
 '$319,713,881',
 '$328,015,029',
 '$238,202,668',
 '$0',
 '$694,713,230']

In [33]:
all_drama_info = pd.DataFrame({'Name':name_movies,'System_ratings':system_rating,'Rating':rating,'Worlwide_gross':worldwide_gross,
                               'Domestic_gross':domestic_gross,'Product_budget':product_budget})
all_drama_info1=all_drama_info.dropna()
all_drama_info1 = all_drama_info[all_drama_info.Name !='Moonfall']
all_drama_info1

,Name,System_ratings,Rating,Worlwide_gross,Domestic_gross,Product_budget
0,Pirates of the Caribbean: On Stranger Tides,R,8.9,"$1,045,663,875","$241,063,875","$410,600,000"
1,Dark Phoenix,R,6.4,"$149,762,350","$42,762,350","$350,000,000"
2,Avengers: Age of Ultron,R,4.2,"$1,403,013,963","$459,005,868","$330,600,000"
3,Star Wars Ep. VIII: The Last Jedi,NR,6.5,"$1,316,721,747","$620,181,382","$317,000,000"
4,Star Wars Ep. VII: The Force Awakens,PG,6.2,"$2,053,311,220","$936,662,225","$306,000,000"
5,Pirates of the Caribbean: At Worldâs End,R,6.4,"$963,420,425","$309,420,425","$300,000,000"
6,Justice League,R,7.2,"$655,945,209","$229,024,295","$300,000,000"
7,The Dark Knight Rises,NaN,5.1,"$1,084,439,099","$448,139,099","$275,000,000"
8,Solo: A Star Wars Story,NR,5.8,"$393,151,347","$213,767,512","$275,000,000"
9,Spider-Man 3,R,5.8,"$894,860,230","$336,530,303","$258,000,000"
10,Pirates of the Caribbean: Dead Men Tell No Tales,PG-13,4.0,"$788,241,137","$172,558,876","$230,000,000"
11,Pirates of the Caribbean: Dead Manâs Chest,R,5.8,"$1,066,215,812","$423,315,812","$225,000,000"
12,Man of Steel,R,5.6,"$667,999,518","$291,045,518","$225,000,000"
13,King Kong,PG,6.7,"$550,517,357","$218,080,025","$207,000,000"
14,Titanic,NR,7.8,"$2,208,208,395","$659,363,944","$200,000,000"
15,Jack the Giant Slayer,G,6.1,"$197,687,603","$65,187,603","$195,000,000"
16,Furious 7,NR,7.0,"$1,518,722,794","$353,007,020","$190,000,000"
17,Star Trek Into Darkness,NR,3.8,"$467,381,584","$228,778,661","$190,000,000"
18,Pacific Rim,NR,5.5,"$411,002,906","$101,802,906","$190,000,000"
19,Indiana Jones and the Kingdom of the Crystal S...,R,7.3,"$786,635,413","$317,101,119","$185,000,000"
20,Thor: Ragnarok,R,3.2,"$846,980,024","$315,058,289","$180,000,000"
21,Hugo,PG,7.3,"$180,047,784","$73,864,507","$180,000,000"
22,Spider-Man: Homecoming,NR,4.4,"$880,166,350","$334,201,140","$175,000,000"
23,Monsters vs. Aliens,R,7.3,"$381,687,380","$198,351,526","$175,000,000"
24,The Mummy: Tomb of the Dragon Emperor,NR,7.8,"$405,760,225","$102,491,776","$175,000,000"
25,Evan Almighty,PG-13,7.0,"$174,131,329","$100,289,690","$175,000,000"
26,Tomorrowland,NR,5.1,"$206,627,518","$93,436,322","$170,000,000"
27,Doctor Strange,PG,4.7,"$676,404,566","$232,641,920","$165,000,000"
28,Big Hero 6,NR,5.6,"$652,127,828","$222,527,828","$165,000,000"
29,Interstellar,NaN,7.9,"$666,379,375","$188,017,894","$165,000,000"
30,Aquaman,NR,5.6,"$1,146,894,640","$335,061,807","$160,000,000"
31,Shrek the Third,NR,7.4,"$807,330,936","$322,719,944","$160,000,000"
32,The Sorcerer's Apprentice,G,5.9,"$217,986,320","$63,150,991","$160,000,000"
33,Poseidon,R,5.8,"$181,674,817","$60,674,817","$160,000,000"
34,War for the Planet of the Apes,PG-13,7.3,"$489,592,267","$146,880,162","$152,000,000"
35,Transformers,NR,4.7,"$708,272,592","$319,246,193","$151,000,000"
36,Harry Potter and the Order of the Phoenix,NR,5.8,"$943,076,457","$292,137,260","$150,000,000"
37,Harry Potter and the Goblet of Fire,R,8.1,"$897,099,794","$290,201,752","$150,000,000"
38,Moana,PG-13,5.4,"$637,517,365","$248,757,044","$150,000,000"
39,Charlie and the Chocolate Factory,NR,7.1,"$475,825,484","$206,459,076","$150,000,000"
40,Mission: ImpossibleâRogue Nation,PG,5.4,"$688,858,992","$195,042,377","$150,000,000"
41,Thor,NR,7.2,"$449,326,618","$181,030,624","$150,000,000"
42,The Last Airbender,PG,7.4,"$319,713,881","$131,772,187","$150,000,000"
43,Bolt,PG-13,7.0,"$328,015,029","$114,053,579","$150,000,000"
44,Dark Shadows,R,5.7,"$238,202,668","$79,727,149","$150,000,000"
46,Mission: ImpossibleâGhost Protocol,NR,7.5,"$694,713,230","$209,397,903","$145,000,000"

In [15]:
#px.scatter(px.data.gapminder(),x=all_drama_info.Name,y=all_drama_info.Rating,animation_frame=all_drama_info.System_ratings,
           #animation_group=all_drama_info.Name,size=all_drama_info.Rating,color=all_drama_info.Name,hover_name=all_drama_info.Name,
           #size_max=100,range_y=[0,10])

In [44]:
# turning Worldwide gross into int
storage1 = []
storage2 = []
total_gross=[]
for i in  all_drama_info1.Worlwide_gross:
    storage1.append(i.replace('$',''))
for i in storage1:
    storage2.append(i.replace(',',''))
for i in storage2:   
    i = int(i)
    total_gross.append(i)
len(total_gross)

44

In [48]:
# turning Produt budget gross into int
storage1 = []
storage2 = []
budget=[]
for i in  all_drama_info1.dropna().Product_budget:
    storage1.append(i.replace('$',''))
for i in storage1:
    storage2.append(i.replace(',',''))
for i in storage2:   
    i = int(i)
    budget.append(i)
len(budget)

44

In [95]:
# turning int in system rating into string eg pg-13
system_int=[]
for i in  all_drama_info1.dropna().System_ratings:
    if i == 'R':system_int.append(2010)
    if i == 'NR': system_int.append(2012)
    if i == 'PG':system_int.append()
    if i == 'PG-13':system_int.append(4)
    if i == 'G': system_int.append(5)
system_int

[1,
 1,
 1,
 2,
 3,
 1,
 1,
 2,
 1,
 4,
 1,
 1,
 3,
 2,
 5,
 2,
 2,
 2,
 1,
 1,
 3,
 2,
 1,
 2,
 4,
 2,
 3,
 2,
 2,
 2,
 5,
 1,
 4,
 2,
 2,
 1,
 4,
 2,
 3,
 2,
 3,
 4,
 1,
 2]

In [96]:
#fig = go.FigureWidget()
#fig.add_scatter(y=all_drama_info1.Rating,
            #marker = {'size':size,'sizemode':all_drama_info1.Rating,'sizeref':9000000004},
            #mode='markers',
            #name=all_drama_info1.Name,
            #text = all_drama_info1.Name)
all_drama_info1 = all_drama_info1.dropna()
all_drama_info1.head()

# adding bufget for iplot
all_drama_info1['Buget']=budget
all_drama_info1['Total_gross']=total_gross
all_drama_info1['System']=system
all_drama_info1['System_int']=system_int

all_drama_info1.head(11)

,Name,System_ratings,Rating,Worlwide_gross,Domestic_gross,Product_budget,Buget,Total_gross,System,System_int
0,Pirates of the Caribbean: On Stranger Tides,R,8.9,"$1,045,663,875","$241,063,875","$410,600,000",410600000,1045663875,R,1
1,Dark Phoenix,R,6.4,"$149,762,350","$42,762,350","$350,000,000",350000000,149762350,R,1
2,Avengers: Age of Ultron,R,4.2,"$1,403,013,963","$459,005,868","$330,600,000",330600000,1403013963,R,1
3,Star Wars Ep. VIII: The Last Jedi,NR,6.5,"$1,316,721,747","$620,181,382","$317,000,000",317000000,1316721747,NR,2
4,Star Wars Ep. VII: The Force Awakens,PG,6.2,"$2,053,311,220","$936,662,225","$306,000,000",306000000,2053311220,PG,3
5,Pirates of the Caribbean: At Worldâs End,R,6.4,"$963,420,425","$309,420,425","$300,000,000",300000000,963420425,R,1
6,Justice League,R,7.2,"$655,945,209","$229,024,295","$300,000,000",300000000,655945209,R,1
8,Solo: A Star Wars Story,NR,5.8,"$393,151,347","$213,767,512","$275,000,000",275000000,393151347,NR,2
9,Spider-Man 3,R,5.8,"$894,860,230","$336,530,303","$258,000,000",258000000,894860230,R,1
10,Pirates of the Caribbean: Dead Men Tell No Tales,PG-13,4.0,"$788,241,137","$172,558,876","$230,000,000",230000000,788241137,PG-Thirteen,4
11,Pirates of the Caribbean: Dead Manâs Chest,R,5.8,"$1,066,215,812","$423,315,812","$225,000,000",225000000,1066215812,R,1

In [100]:
figure = bubbleplot(dataset=all_drama_info1,x_column='Buget',y_column='Rating',
                   bubble_column='Name',size_column='Total_gross',
                   color_column='System_ratings',time_column ='System_int',scale_bubble=2,height=650)
plot(figure)

IndexError: index 0 is out of bounds for axis 0 with size 0